body {
    background-color: #361254;
}

h1 {
    font-family: Sans-Serif;
    color: white;
    text-align: center;
    font-size: 33px;
    font-weight: 400px;
}

h2 {
    font-family: Sans-Serif;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    display: inline;
}

.title-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0%;
}

.sponsors-container {
    width: 98%;
    height: 23%;
    position: absolute;
    bottom: 25%;
    text-align: center;
}

img.sponsor {
    height: 100%;
}

img.submit {
    width: 20%;
    top: 60%;
    position: absolute;
    left: 60%;
}

img.answer {
    max-height: 80%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom:3%;
}

input.name {
    font-size: 43px;
    position: absolute;
    top: 15%;
    width: 60%;
    left: 20%;
    height: 15%;
}

img.zip {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

img.response {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

li {
    float: left;
}
li.flag {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}

li.age {
    width: 20%;
}

li.response {
    width: 33%;
    text-align: center;
}

li.gender {
    height: 100%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.clickable{
    cursor: pointer;
}

.names {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0%;
    text-align: center;
}

.question-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0%;
}

.answer-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 60%;
    text-align: center;
    position: absolute;
    bottom: 0%;
}

.content-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
    height: 65%;
    position: absolute;
    top: 0%;
}
.content-text {
    position: absolute;
    top: 0%;
    height: 30%;
    width: 100%;
}

.content-image {
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%
}
.content-question-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
    height: 90%;
    position: absolute;
    top: 0%;
}
.solution-container {
    display: none;
}

.response-container {
    background-color: #812ABD;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0%;
}
