@import '../settings';

$box-height: 5rem;
$box-width: $box-height;

@mixin answer {
  background: $light-grey;
  margin-left: 0;
  padding-bottom: 1em;
  border-style: solid;
  border-color: $medium-grey;
  border-width: 1;
  overflow: hidden;
	

  .box {
    background: $primary;
    height: $box-height;
    width: $box-width;
    text-align: center;
    line-height: $box-height;
    font-size: 4em;
	}

  .result {
    background: $light-grey;    
  }
  
  .chart {
    background: $light-grey;
    height: $box-height;
  }
 
}
