i<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--(if target dist)><!-->
  <link rel='stylesheet' href='assets/css/vendor.min.css'>
  <link rel='stylesheet' href='assets/css/social-problem-solver.min.css'>
  <!--<!(endif)-->

  <!--(if target dist)><!-->
  <script src='assets/js/vendor.min.js'></script>
  <script src='assets/js/social-problem-solver.min.js'></script>
  <!--<!(endif)-->

  <!--(if target dev)><!-->
  <link rel='stylesheet' href='assets/css/vendor.css'>
  <link rel='stylesheet' href='assets/css/social-problem-solver.css'>
  <!--<!(endif)-->

  <!--(if target dev)><!-->
  <script src='assets/js/vendor.js'></script>
  <script src='assets/js/social-problem-solver.js'></script>
  <!--<!(endif)-->

  <!-- icon font -->
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

</body>
</html>
